<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mssdevlab.baselib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <activity
            android:name=".common.ErrorActivity"
            android:label="@string/bl_common_error_report_email_subject"/>
    </application>

</manifest>