<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mssdevlab.baselib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:label="@string/common_error_report_email_subject"
            android:name=".ErrorActivity">
        </activity>
    </application>

</manifest>
